:root {
  /**
   * Colors
   */
  --white: #fff;
  --green-light: #38b2ac;
  --grey-100: #f5f6f7;

  /**
   * Colors var
   */

  --primary: var(--green-light);
  --bg-grey: var(--grey-100);

  /**
  * Fonts
  */

  /**
  * Breakpoints
  */

  /* mobile */

  /* Tablet */

  /* Desktop */

  /* Big Screen */

  /* Border radius */

  --btn-bdrs: 10px;

}
